body{
    font-family: font-family: 'Oxygen', sans-serif;
    
    margin:0;
    padding : 0;
}
span{
    color: orange;
}
p{
    word-spacing: 2px;
    line-height: 20px;
    color: rgb(77, 71, 71);
    
}
.first-section{
    margin-left: 110px;
}
.scrool-bar-down{
    margin-top: -30px;
    margin-left: 110px;
}

.heading-area{
    font-family: 'Prata', serif;
    font-weight: 800;
    line-height: 15px;
    margin-bottom: 20px;
    border-left: 3px solid ;
   
    border-image: linear-gradient( #35e644 0%, #f75929 100%); 
    border-image-slice :1;
   

}
.heading-area h1{
    padding:2px;
    margin-top: 2px;
    margin-left: 5px;
}

.Link-button{
    text-decoration:none ;
    color: rgb(255, 249, 249);
    background-color:rgb(255, 81, 50);
    padding:10px 18px;
    
    border-radius: 9px;
}
.display-flexable{
    display: flex;
}
.half-width{
    width:50%;
    margin-top: 40px;

}
.half-width img{
    width: 330px;
    margin-top: -70px;
    margin-left: 200px;
}
.middle-header{
    padding-left: 30px;
}

.second-section{
    margin-top: 30px;
}
.second-section h1{
    text-align: center;
}
.middle-contain{
    display: flex;
  width: 60%;
    margin-top: 50px;
    padding: 15px;
   
}
.middle-contain img{
    width: 250px;
    

    
}
.middle-contant{
    width: ;
    border-radius: 15px;
    padding: 20px;

}
.middle-contant:nth-child(1){
   background-color:#e0f1fc;
   margin-left: 110px;
   margin-right: 170px;
}
.middle-contant:nth-child(2){
    background-color:#DDDDE3;
    margin-right: 170px;
 }
 .middle-contant:nth-child(3){
    background-color: #faf5e3;
    margin-right: 110px;
    
    
}
.documintasion-1{
    width: 60%;
    margin-left: 30px;
}
.documintasion-2{
    width: 55%;
    margin-right: 90px;
}
.project-pic{
    margin-left: 60px;
    
}



.third-sec-contain img{
    width: 300px;
    margin-right: 50px;

}
.third-sec-contain{
    display: flex;
    margin-top: 60px;
    margin-left: 110px;
}
.four-section img{
    margin-left: 30px;
}
.footer-area{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 8px;
}
.footer-area p{
    color:#ddd;
}
.footer-span{
    color: tomato;
}
.footer-area h1{
    font-family: 'Lobster', cursive;
}
